


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
header img.logo{
        float: left;
        padding-right: $gutter;
    }


/*----------- NAVIGATION --------------*/
nav{
    border: none;

}
    nav ul li {width: auto;}

    nav ul li a{padding: .5rem 1rem;}
#navMenu li ul li{
    width: 25vw;
}

nav{
    top: 0;
    margin: 0;
    padding: 0;
    button{
        display: none;
    }
    ul{
        display: none;
        display: flex;
        padding: 0;
        border: none;

    }
    ul li {border-right: 1px solid rgba(0, 0, 0, 0.99);}
    ul li a{
        display: block;
        font-size: 1rem;
        padding: .9rem 1.2rem;
        text-decoration: none;
        transition: background .3s linear;
        border-bottom: none;
        top: 0;
    }

    #navMenu li.parent > a:after{
        content: "\25BC";
        font-size: .65rem;
        color: black;
        float: right;
    }
    ul li ul{
        display: flex;
        flex-direction: column;
        width: 10rem;
        position: absolute;
        left: -999rem;
        z-index: 99;
    }
    ul li ul li {
        border-right: none;
        border:none;
    }
    ul li:hover ul{
        left: auto;
        margin-left: 0;
    }

}
ul.classOpen{
    display: none;

}
ul#navMenu.classOpen{
top: 0;
}


div#directors{
    display: grid;
    grid-template-columns: auto 450px;
    grid-column: 1/ span 2;
    margin-top: $gutter*2;
    position: relative;
    align-items: center;
    justify-content: center;
    div.mmainNames{
        grid-template-columns: auto;
    }
    img{
        margin-left: 120px;
        width: max-content;
    }
  
    h3{
        margin-top: $gutter;
        padding-left: 0;
        margin-bottom: 0;
        text-align: center;
    }
    p{
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }
}

figure.logoOne{
    margin: 0;
    display: block;
    float: left;
    img{
        justify-content: center;
        align-items: center;
        text-align: center;
        
        width: 50%;
        margin-right: auto;
        margin-left: auto;
        
    }

}
/*----------- MAIN --------------*/

div.sliders{
    margin-top: $gutter;
    margin-left: $gutter;
    shape-outside: inset(10px, 10px, 10px, 10px);
    max-width: 50%;
    float: right;

}


div#myCards{
    grid-template-columns: 1fr 1fr;

    img{width: 100%;}
    p, h2, ul{
        grid-column: 1/ span 2;
        text-align: center;
        margin-top: $gutter * 2;
    }
    ul{
        text-align: left;
        li{
            padding-top: 10px;
        }
    }
    picture {
        position: relative;
        width: 100%;
        margin: $gutter;
        figcaption{
            position: absolute;
            bottom: 3px; 
            color: white;
            width: 100%;
            background-color: #777777d8;
            padding: .3rem $gutter;
        }//end of caption
    }//end of figure
}//end of cards

//Families Page

div#familyCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    img{
        width: 100%;
    }
    ul{
    list-style-type: none;
        padding: 0;
    }
}
/*----------- FOOTER --------------*/
    
